body {
  padding: 0;
  margin: 0;
  display: block;
  width: 400px;
  margin: 0 auto;
  margin-top: 200px;
  background: url('../todolist/img/sphere.jpg');
}

#taskInput {
  width: 250px;
  height: 27px;
  font-family: 'OpenSans Regular';
  font-size: 20px;
  color: orangered;
}
#addBtn {
  width: 100px;
  height: 34px;
  background: green;
  border-radius: 5px;
  font-family: 'OpenSans Bold';
  font-size: 18px;
  color: white;
}
fieldset {
  background: lightyellow;
}
span:after {
  content: '';
  display: block;
  width: 64px;
  height: 64px;
  background: url('../todolist/img/delete.png') no-repeat;
  position: absolute;
  top: -15px;
  right: 0;
}
span {
  position: relative;
  float: right;
}
#taskList {
  margin-top: 15px;
  display: block;
  font-family: 'OpenSans Regular';
  font-size: 24px;
  color: lightseagreen;
}

legend {
  font-family: 'OpenSans Regular';
  font-size: 25px;
  color: coral;
}
